---
---

@import "{{ site.theme }}";
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #1089ff; /* Blue */
  overflow: auto;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 30px;
  font-size: 1.7vw;
  font-family: 'Comfortaa', cursive;
  border: none;
  background: none;
  color: #E5E5E5;
  text-align: left;
  display: block;
  cursor: pointer;
  outline: none;
}

.dropdown-container a{
  /*display: none;
  background: none;
  border: none;*/
  padding: 6px 8px 6px 50px;
  text-decoration: none;
  font-size: 20px;
  font-size: 1.1vw;
  font-family: 'Comfortaa', cursive;
  border: none;
  background: none;
  color: #E5E5E5;
  text-align: left;
  display: block;
  cursor: pointer;
  outline: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #8FB4BE;
  color: #FFFFFF;
}

.dropdown-container a:hover {
  background-color: #8FB4BE;
  color: #FFFFFF;
}

.divider {
    position: absolute;
    right:-1px;
    top:2px;
}

/* Style page content */
.main {
  margin-left: 20%; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

@media screen and (max-width: 1150px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidenav a {
    float: left;
    font-size: 2vw;
  }
  .dropdown-container a {
    display: none;
  }
  i {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
    font-size: 5vw;
  }
  .dropdown-container a {
    display: none;
  }
  i {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
}

/* Meet Team Page style*/
.column {
  float: left;
  width: 46%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

